<!doctype html>
<html>

<body>

<!--Header_section-->
<header id="header_wrapper">
  <div class="container">
    <div class="header_box">
      <div class="logo"><a href="#"><img class="logotama" src="/assets/img/logoespam.png" alt="logo"></a></div>
	  <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
	    <div id="main-nav" class="collapse navbar-collapse navStyle">
			<ul class="nav navbar-nav" id="mainNav">
			  <li class="active"><a href="#hero_section" class="scroll-link">Inicio</a></li>
			  <li><a href="#aboutUs" class="scroll-link">Sobre Nosotros</a></li>
        <li><a href="#clients" class="scroll-link">Historia</a></li>
			  <li><a href="#service" class="scroll-link">Servicios</a></li>
			  <li><a href="#Portfolio" class="scroll-link">Portfolio</a></li>
			 
			  <li><a href="#team" class="scroll-link">Menú</a></li>
			  <li><a href="#contact" class="scroll-link">Contacto</a></li>
			</ul>
      </div>
	 </nav>
    </div>
  </div>
</header>
<!--Header_section--> 

<!--Hero_Section-->
<section id="hero_section" class="top_cont_outer">
  <div class="hero_wrapper">
    <div class="container">
      <div class="hero_section">
        <div class="row">
          <div class="col-lg-5 col-sm-7">
            <div class="top_left_cont zoomIn wow animated"> 
              <h2>Hotel <strong>Higuerón</strong> ESPAM MFL</h2>
              
              <p>¡Bienvenido al Hotel Higuerón Excelencia! Disfruta de una estancia inolvidable con nuestro excepcional servicio y atención personalizada. Deléitate con una variedad gastronómica exquisita preparada con amor y pasión. Sumérgete en la excelencia de la hospitalidad y el encanto de nuestras modernas instalaciones. ¡Te esperamos con los brazos abiertos para una experiencia única e inolvidable!</p>
              <a href="#service" class="read_more2">Leer más</a> </div>
          </div>
          <div class="col-lg-7 col-sm-5  crv" >
			<img  src="/assets/img/toma.jpg" class="crv" alt="" />
		  </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Hero_Section--> 

<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2> <strong>Sobre Nosotros</strong></h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right"><img src="/assets/img/hotel2.jpeg" class="img-circle delay-03s animated wow zoomIn" alt=""></div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
            <h3 class="tam"> <strong>Misión</strong></h3>
            <p>Satisfacer las necesidades de los clientes ofreciendo productos y servicios de calidad,  a través de la práctica de los estudiantes de la carrera de ingeniería en turismo de la ESPAM MFL, siendo un modelo  de la enseñanza en el campo de la hostelería contribuyendo al desarrollo del sector turístico,  y la inserción del estudiante en el campo laboral, formando un personal capacitado, para brindar un servicio de calidad.</p> <br/>
            <h3 class="tam"> <strong>Visión</strong></h3>
            <p>El Hotel – Escuela pretende posicionarse como un ente referencial en el sector de la Hostelería y del sistema educativo siendo una guía nacional en la investigación y la vinculación, diferenciados siempre por la calidad de enseñanza, la práctica de los estudiantes, y calidad de servicios siempre próximos a la realidad del entorno laboral, logrando la satisfacción de los clientes,  superando sus expectativas de buen servicio y potencializando la imagen de la institución.</p>
</div>
<div class="work_bottom"> <span></span> <a href="#contact" class="contact_btn">CONTÁCTENOS</a> </div>       
	   </div>
      	
      </div>
	  
      
    </div>
  </div> 
  </div>
</section>
<!--Aboutus--> 


<section class="page_section" id="clients"><!--page_section-->
  <h2> <strong>Historia</strong></h2>
<!--page_section-->
<div class="client_logos"><!--client_logos-->
  <div class="container">
    <div class=" col-lg-6 col-md-4 col-sm-4 col-xs-12 pull-right"><img src="assets/img/hotel/hotel1.webp" class="img-circle delay-03s animated wow zoomIn" alt=""></div>
   <h3 class="bl">HISTORIA DEL HOTEL LABORATORIO HIGUERÓN</h3>
    <p>Día 26 de junio del año 2013, se apertura el Hotel Laboratorio, el que a través de sus diferentes instalaciones facilitará el proceso de aprendizaje, incorporando a los estudiantes de la carrera de Ingeniería en Turismo múltiples conocimientos necesarios, el desarrollo de habilidades manipulativas, la formación de valores éticos, culturales enmarcados en la filosofía del Buen Vivir.
      <br> <br>
   <p>UBICACIÓN:  Se encuentra ubicado en una zona aledaña a las riberas del río Carrizal, entre el sector deportivo y la Plaza Mayor del Campus Politécnico,  en el Sitio Limón, Km 2, de la parroquia Calceta, Provincia de Manabí, Ecuador. </p>
    <p>Localización y coordenadas Los detalles de la localización del Hotel Laboratorio Higuerón son los siguientes:</p>
 <p>- Provincia: Manabí</p>
 <p>- Cantón: Bolívar</p>
 <p>- Parroquia: Calceta</p>
 <p>- Sitio: El Limón   Latitud: -0,800000</p>
 <p>Longitud: -80,1666667 En la costa sur del Pacifico a 60 Km. de la ciudad de Manta y a 95 Km. de la ciudad </p>
 <p>de Portoviejo  y a 450 Km. A  capital del Ecuador Quito, en las coordenadas 0º50’ 39” S y 80º 9’33” O.</p>
 
  </div>
</div>
</section>

<!--Service-->
<section  id="service">
  <div class="container">
    <h2> <strong>Servicios</strong></h2>
    <div class="service_wrapper">


      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-cutlery"></i></span> </div>
            <h3 class="animated fadeInUp wow">Restaurante</h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">			
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-university"></i></span> </div>
            <h3 class="animated fadeInUp wow">Hospedaje</h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-users"></i></span> </div>
            <h3 class="animated fadeInUp wow">Salones para Reuniones</h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
      </div>


	   <div class="row borderTop">
        <div class="col-lg-4 mrgTop">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-car"></i></span> </div>
            <h3 class="animated fadeInUp wow">Parqueadero Privado</h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-wifi"></i></span> </div>
            <h3 class="animated fadeInUp wow">Wifi</h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-television"></i></span> </div>
            <h3 class="animated fadeInUp wow">Televiòn Satelital</h3>
            <p class="animated fadeInDown wow"></p>
          </div>
        </div>    
      </div>


      <div class="row borderTop">
        <div class="col-lg-4  mrgTop">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-snowflake-o"></i></span> </div>
            <h3 class="animated fadeInUp wow">Aire Acondicionado</h3>
            <p class="animated fadeInDown wow"></p>
          </div>
          
        </div> 

       

         
      </div>
      
    </div>
  </div>
</section>
<!--Service-->




<!-- Portfolio -->
<section id="Portfolio" class="content"> 
  
  <!-- Container -->
  <div class="container portfolio_title"> 
    
    <!-- Title -->
    <div class="section-title">
      <h2> <strong>Portafolio</strong></h2>
    </div>
    <!--/Title --> 
    
  </div>
  <!-- Container -->
  
  <div class="portfolio-top"></div>
  
  <!-- Portfolio Filters -->
  <div class="portfolio"> 
    
    <div id="filters" class="sixteen columns">
      <ul class="clearfix">
        <li><a id="all" href="#" data-filter="*" class="active">
          <h5>Todo</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".prototype">
          <h5>Visitas</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".design">
          <h5>Eventos</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".android">
          <h5>Actividades</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".appleIOS">
          <h5>Hotel</h5>
          </a></li>
       
      </ul>
    </div>
    <!--/Portfolio Filters --> 
    
    <!-- Portfolio Wrapper -->
    <div class="isotope fadeInLeft animated wow" style="position: relative; overflow: hidden; height: 480px;" id="portfolio_wrapper"> 
      
      <!-- Portfolio Item -->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   prototype isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/foto0.jpg"  alt="Portfolio 1"> </div>        
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
        </div>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item-->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  prototype isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/foto2.jpg" alt="Portfolio 1"> </div>
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
      </div>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  prototype  isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/foto1.jpg" alt="Portfolio 1"> </div>
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
      </div>
      <!--/Portfolio Item--> 
      
      <!-- Portfolio Item-->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four    prototype  isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/foto3.jpg" alt="Portfolio 1"> </div>
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
      </div>
      <!-- Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/evento1.jpg" alt="Portfolio 1"> </div>
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
      </div>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/evento2.jpg" alt="Portfolio 1"> </div>
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
      </div>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item  -->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  design  isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/evento3.jpg" alt="Portfolio 1"> </div>       
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
       </div>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   design isotope-item">
        <div class="portfolio_img"> <img src="assets/img/portafolio/evento4.jpg" alt="Portfolio 1"> </div>       
        <div class="item_overlay">
          <div class="item_info"> 
          </div>
        </div>
        </div>
      <!--/Portfolio Item --> 
      


          <!-- Portfolio Item -->
          <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  android isotope-item">
            <div class="portfolio_img"> <img src="assets/img/portafolio/socializacion1.jpg" alt="Portfolio 1"> </div>
            <div class="item_overlay">
              <div class="item_info"> 
              </div>
            </div>
          </div>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item -->
          <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  android isotope-item">
            <div class="portfolio_img"> <img src="assets/img/portafolio/socializacion2.jpg" alt="Portfolio 1"> </div>
            <div class="item_overlay">
              <div class="item_info"> 
              </div>
            </div>
          </div>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item  -->
          <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  android isotope-item">
            <div class="portfolio_img"> <img src="assets/img/portafolio/socializacion3.jpg" alt="Portfolio 1"> </div>       
            <div class="item_overlay">
              <div class="item_info"> 
               
              </div>
            </div>
           </div>
          <!--/Portfolio Item --> 
          
          <!-- Portfolio Item -->
          <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  android isotope-item">
            <div class="portfolio_img"> <img src="assets/img/portafolio/socializacion4.jpg" alt="Portfolio 1"> </div>       
            <div class="item_overlay">
              <div class="item_info"> 
            
              </div>
            </div>
            </div>
          <!--/Portfolio Item --> 


           <!-- Portfolio Item -->
           <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  appleIOS isotope-item">
            <div class="portfolio_img"> <img src="assets/img/hotel/hotel1.webp" alt="Portfolio 1"> </div>       
            <div class="item_overlay">
              <div class="item_info"> 
            
              </div>
            </div>
            </div>
          <!--/Portfolio Item --> 

           <!-- Portfolio Item -->
           <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  appleIOS isotope-item">
            <div class="portfolio_img"> <img src="assets/img/hotel/hotel2.jpeg" alt="Portfolio 1"> </div>       
            <div class="item_overlay">
              <div class="item_info"> 
            
              </div>
            </div>
            </div>
          <!--/Portfolio Item --> 

           <!-- Portfolio Item -->
           <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  appleIOS isotope-item">
            <div class="portfolio_img"> <img src="assets/img/hotel/hotel3.jpeg" alt="Portfolio 1"> </div>       
            <div class="item_overlay">
              <div class="item_info"> 
            
              </div>
            </div>
            </div>
          <!--/Portfolio Item --> 

           <!-- Portfolio Item -->
           <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  appleIOS isotope-item">
            <div class="portfolio_img"> <img src="assets/img/hotel/hotel4.jpg" alt="Portfolio 1"> </div>       
            <div class="item_overlay">
              <div class="item_info"> 
            
              </div>
            </div>
            </div>
          <!--/Portfolio Item --> 
    </div>
    <!--/Portfolio Wrapper --> 
    
  </div>
  <!--/Portfolio Filters -->
  
  <div class="portfolio_btm"></div>
  
  
  <div id="project_container">
    <div class="clear"></div>
    <div id="project_data"></div>
  </div>
 
  
</section>
<!--/Portfolio --> 


<!--client_logos-->

<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
    <h2> <strong>Menú </strong> </h2>
    <h6>Te extendemos una cordial invitación a experimentar el placer de la gastronomía en su máxima expresión. En nuestro restaurante, te aguarda un mundo de sabores excepcionales a precios que te sorprenderán. Cada plato es una obra maestra culinaria, preparada con pasión y dedicación.</h6>
    
    <div class="team_section clearfix">
      <div class="team_area">
        <div class="wow fadeInDown delay-03s">
          <div class="headersss">
            <div class="containerrr">
              <div class="circle">
                <div class="line"></div>
              </div>
              <div class="circle">   <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <!-- Añade más círculos según sea necesario -->
            </div>
            
            <h1 class="titu">Desayuno</h1>
          </div>
          
          <!-- Verifica si hay platos disponibles -->
          <ng-container *ngIf="menusss.length > 0; else noPlatoss">
            <table class="table tablecolor">
              <thead class=" text-primary">
                <th>
                  Plato
                </th>
                <th>
                  Disponibles
                </th>
              </thead>
              <tbody *ngFor="let item of menusss; let i = index">
                <tr>
                  <td>
                    {{ item.plato.descripcion }}
                  </td>
                  <td>
                    {{ item.cantidad }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          
          <!-- Mostrar mensaje cuando no hay platos disponibles -->
          <ng-template #noPlatoss>
            <p class="tablecolor">No hay platos disponibles  en este momento.</p>
          </ng-template>
        </div>
      </div>
      


      <div class="team_area">
        <div class="wow fadeInDown delay-03s">
          <div class="headersss">

            <div class="containerrr">
              <div class="circle">
                <div class="line"></div>
              </div>
              <div class="circle">   <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <!-- Añade más círculos según sea necesario -->
            </div>
            <h1 class="titu">Almuerzo</h1>
          </div>
          
          <!-- Verifica si hay platos disponibles -->
          <ng-container *ngIf="menuAlmuerzo.length > 0; else noPlatosss">
            <table class="table tablecolor">
              <thead class=" text-primary">
                <th>
                  Plato
                </th>
                <th>
                  Disponibles
                </th>
              </thead>
              <tbody *ngFor="let item of menuAlmuerzo; let i = index">
                <tr>
                  <td>
                    {{ item.plato.descripcion }}
                  </td>
                  <td>
                    {{ item.cantidad }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          
          <!-- Mostrar mensaje cuando no hay platos disponibles -->
          <ng-template #noPlatosss>
            <p class="tablecolor">No hay platos disponibles en este momento.</p>
          </ng-template>
        </div>
      </div>
      



      <div class="team_area">
        <div class="wow fadeInDown delay-03s">
          <div class="headersss">
            <div class="containerrr">
              <div class="circle">
                <div class="line"></div>
              </div>
              <div class="circle">   <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <div class="circle">  <div class="line"></div></div>
              <!-- Añade más círculos según sea necesario -->
            </div>
            <h1 class="titu">Merienda</h1>
          </div>
          
          <!-- Verifica si hay platos disponibles -->
          <ng-container *ngIf="menuMerienda.length > 0; else noPlatos">
            <table class="table tablecolor">
              <thead class=" text-primary">
                <th>
                  Plato
                </th>
                <th>
                  Disponibles
                </th>
              </thead>
              <tbody *ngFor="let item of menuMerienda; let i = index">
                <tr>
                  <td>
                    {{ item.plato.descripcion }}
                  </td>
                  <td>
                    {{ item.cantidad }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          
          <!-- Mostrar mensaje cuando no hay platos disponibles -->
          <ng-template #noPlatos>
            <p class="tablecolor">No hay platos disponibles en este momento.</p>
          </ng-template>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!--/Team-->
<!--Footer-->
<footer class="footer_wrapper" id="contact">
  <div class="container">
    <section class="page_section contact" id="contact">
      <div class="contact_section">
        <h2>CONTÁCTENOS</h2>
        <div class="row">
          <div class="col-lg-4">
            
          </div>
          <div class="col-lg-4">
           
          </div>
          <div class="col-lg-4">
          
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInLeft">	
		 <div class="contact_info">
                         
                           
                            <div class="detail">
                                <h4>Email us</h4>
                                <p>hotelhigueron@gmail.com</p>
                            </div> 
                        </div>
       		  
			  
          
          <ul class="social_links">
            <li class="twitter animated bounceIn wow delay-02s"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
            <li class="facebook animated bounceIn wow delay-03s"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
            <li class="pinterest animated bounceIn wow delay-04s"><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
            <li class="gplus animated bounceIn wow delay-05s"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li> 
          </ul>
        </div>
        <div class="col-lg-6 wow fadeInLeft delay-06s">
          <div class="detail">
            <h4>Telefs</h4>
            <p>0998695670</p>
            <p>0992514660</p>
            <p>0983821893</p>
        </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <div class="footer_bottom"><span>Copyright © 2014,    Template by <a href="http://webthemez.com">WebThemez.com</a>. </span> </div>
  </div>
</footer>



</body>
</html>